.Rproj.user
.Rhistory
.RData
.Ruserdata
Example_site_3_1.tiff
Example_site_3_2.tiff
Example_site_3_3.tiff
Example_site_1_4.tiff
Example_site_1_3.tiff
Example_site_1_2.tiff
Example_site_1_1.tiff
inst/.DS_Store
inst/extdata/.DS_Store
.DS_Store
/doc/
/Meta/
